[defaults]
; inventory = inventories/dev/inventory.ini
host_key_checking = False
remote_user = ubuntu
private_key_file = "{{ lookup('env', 'ansible_key') }}"
retry_files_enabled = False
interpreter_python = auto_silent
timeout = 30
roles_path = roles

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False
